@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --background-color: #f8f6f3; 
  --text-color: #1d1d1f;  
  --heading-color: #1d1d1f;
  --small-text: calc(12px + (14 - 12) * ((100vw - 320px) / (1800 - 320)));
  --medium-text: calc(18px + (22 - 18) * ((100vw - 320px) / (1800 - 320)));
  --large-text: calc(35px + (36 - 30) * ((100vw - 320px) / (1800 - 320)));
  --small-text-mobile: calc(10px + (12 - 10) * ((100vw - 320px) / (1800 - 320)));
  --medium-text-mobile: calc(16px + (20 - 18) * ((100vw - 320px) / (1800 - 320)));
  --large-text-mobile: calc(25px + (32 - 28) * ((100vw - 320px) / (1800 - 320)));
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

html {
  scroll-behavior: smooth;
}

